---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import nachos from "../../public/images/products/nacho-clasico.png"
import nachosPicantes from "../../public/images/products/nacho-picante.png"
---

<Layout title="Nachos - NAX SNAX">
    <section class="bg top__content bg--orange">
        <div class="content papas__clasicas">
            <div class="papas__frases">
                <h3>NACHOS CLASICAS</h3>
                <p>Extra crocante</p>
            </div>
            <div class="papas__imagen"><Image src={nachos} alt="Papas Clásicas" width={450}/></div>
        </div>
    </section>
    <section class="bg bg--green">
        <div class="content papas__clasicas">
            <div class="papas__imagen"><Image src={nachosPicantes} alt="Papas Clásicas" width={450}/></div>
            <div class="papas__frases">
                <h3>PAPAS PICANTES</h3>
                <p>Extra crocante</p>
            </div>
            
        </div>
    </section>
</Layout>

<style>
    .papas__clasicas{
        display: flex;
        padding: 10rem 0;
        justify-content: center;
        align-items: center;
        position: relative;

    }
    .papas__frases, .papas__frases{
        width: 50%;
    }
    .papas__frases{
        color: wheat;
    }
    .papas__frases h3{
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
    }
    .papas__frases p{
        line-height: 0.5;
        font-size: 1.4rem;
        font-weight: 400;
    }
</style>