---
import Layout from "../layouts/Layout.astro"
import tocinax from "../../public/images/products/tocinax.png"
import mix from "../../public/images/products/mix.png"
import Card from "../components/Card.astro"
import Chips from "../components/home/chips.astro"
const chips = ["nachos", "papas", "nachos", "tocino"]
---

<Layout title="Otros productos - NAX SNAX">
    <Chips chips={chips}/>
    <Card
        image={mix} 
        title="Mix Nax" 
        bgColor="top__content bg--ocean"
    >
    <p class="desc">
        La combinación perfecta de todos los mundos. <br />
        Una combinación de todos tus NaxSnax favoritos. <br />
        Te retamos a que te resistas!
    </p>
    </Card>
        <Card
        image={tocinax} 
        title="Toxinax" 
        bgColor="bg--pink"
        direction="card__reverse">
        <p class="desc">Te presentamos uno de tus favoritos! <br />
            TociNax, con una crocancia única y un sabor a delicioso tocino.<br />
            Ideal para tu apetito!</p>
    </Card>
</Layout>