---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import papasClasicas from "../../public/images/products/papas-clasicas.png"
import papasPicantes from '../../public/images/products/papas-picantes.png'
import papasFuego from '../../public/images/products/papas-fuego.png'
---

<Layout title="Papanax - NAX SNAX">
    <section class="top__content bg bg--yellow">
        <div class="content papas__clasicas">
            <div class="papas__frases">
                <h3>Papanax Clásica</h3>
                <p>Las papas como nunca antes las conociste, déjate sorprender por la crocancia y textura que solo Papanax te entrega</p>
            </div>
            <div class="papas__imagen"><Image src={papasClasicas} alt="Papas Clásicas" width={450}/></div>
        </div>
    </section>
    <section class="bg bg--darkgreen">
        <div class="content papas__clasicas">
            <div class="papas__imagen"><Image src={papasPicantes} alt="Papas Clásicas" width={450}/></div>
            <div class="papas__frases">
                <h3>Papanax Picante</h3>
                <p>Tus papas favoritas con un toque de picante y limón igual de crocante pero con sabor extremo</p>
            </div>
            
        </div>
    </section>
    <section class="top__content bg bg--red">
        <div class="content papas__clasicas">
            <div class="papas__frases">
                <h3>Papanax Extra Fuego</h3>
                <p>Eres realmente valiente? Entonces adorarás Papanax Extra Fuego con un picante pensado para el valiente extremo.</p>
            </div>
            <div class="papas__imagen"><Image src={papasFuego} alt="Papas Clásicas" width={450}/></div>
        </div>
    </section>
</Layout>
