---
import { Image } from 'astro:assets'
import naxSnax from '../../../public/images/nax-snax-logo.png'
---

<div class="brand__content bg bg--violet">
    <div class="content brand__logos">
        <div class="brand__images">
            <Image src={naxSnax} alt='Nax Snax' loading='lazy'/>
        </div>
        <div class="brand__images">
            <Image src={naxSnax} alt='Nax Snax' loading='lazy'/>
        </div>
        <div class="brand__images">
            <Image src={naxSnax} alt='Nax Snax' loading='lazy'/>
        </div>
    </div>
</div>

<style>
    .brand__logos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15rem 0;
        position: relative;
    }
    .brand__images{
        width: 150px;
    }

    @media screen and (max-width: 480px) {
        .brand__logos{
            flex-direction: column;
            gap: 4rem;
        }
    }
</style>