---
import LiteYoutube from "../LiteYoutube.astro"
---

    <div class="content">
        <LiteYoutube 
        videoId="fS0Iy5FCMUo"
        backgroundImage="../../../public/images/videocover.jpeg"
        title="Reproducir imaginax"/>
    </div>

<style>
    div{
        padding: 15rem 8rem;
        box-sizing: border-box;
        position: relative;
    }

    div::before{
        content: '';
        background: url(../../../public/images/splash.png), transparent;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 750px;
    }

    @media screen and (max-width: 480px) {
        div {
            padding: 15rem 2rem;
        }
        div::before {
            top: 200px;
            height: 275px;
        }
    }

</style>