---
import LiteYoutube from "../LiteYoutube.astro"
---

<section class="bg bg--red">
    <div class="content">
        <LiteYoutube 
        videoId="fS0Iy5FCMUo"
        backgroundImage="https://scontent.flpb4-1.fna.fbcdn.net/v/t39.30808-6/375864579_818537940275030_7965196261680090388_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=CJtfGBsbUQEAb72o_t-&_nc_ht=scontent.flpb4-1.fna&oh=00_AfCJNq3CFiiVoGnfldC_XynbbwhLEP-eyUi2bvzshCJNnw&oe=66250612"
        title="Reproducir presentación de La Velada del Año"/>
    </div>
</section>


<style>
    section{
        padding: 15rem 1rem;
        box-sizing: border-box;
    }

</style>