---
import LiteYoutube from "../LiteYoutube.astro"
---

    <div class="content">
        <LiteYoutube 
        videoId="fS0Iy5FCMUo"
        backgroundImage="../../../public/images/videocover.jpeg"
        title="Reproducir imaginax"/>
    </div>

<style>
    div{
        padding: 15rem 1rem;
        box-sizing: border-box;
    }

</style>