---
import {Image} from 'astro:assets'
import logo from '../../../public/images/nax-snax-logo.png'

---

<header>
        <a href="/">
            <Image class="header__logo" src={logo} alt="Nax Snax" loading="lazy" width={140} />
    </a>
    </div>
    <nav class="header__nav">
        <a href="/">Inicio</a>
        <a href="/papas">Papas</a>
        <a href="/nachos">Nachos</a>
        <a href="/pipas">Pipas</a>
        <a href="/otros">Otros</a>
    </nav>
    <div class="header__burger" id="burgerMenu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        </div>
</header>

<style>
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background: linear-gradient(0deg, rgba(0,0,0,0.03) 40%, rgba(0,0,0,1) 80%);
        height: 100px;
        z-index: 10;
        position: relative;
    }
    nav{
        display: flex;
        gap: 1.5rem;
    }
    a {
        color: var(--primary);
        text-decoration: none;
        transition: all 0.3s;
        font-weight: 700;
    }
    a:hover{
        color: var(--secondary);
    }

    .header__burger{
        width: 20px;
        cursor: pointer;
        
        /* display: none; */
    }
    .header__burger svg{
        fill: var(--primary);
        transition: all 0.3s;
    }
    .header__burger svg:hover{
        fill: var(--secondary);
    }
    .active{

    }

    @media screen and (max-width: 480px) {
        .header__logo{
            padding: 0.5 1rem;
            max-width: 80px;
            height: auto;
        }
        a{
            color: red;
        }

        .header__nav{
            display: none;
        }
    }
</style>