---
import {Image} from 'astro:assets'
import logo from '../../../public/images/nax-snax-logo.png'
import MenuBurger from './menu.jsx'
---

<header>
        <a href="/">
            <Image class="header__logo" src={logo} alt="Nax Snax" loading="lazy" width={140} />
    </a>
    </div>
    <MenuBurger client:visible />

</header>

<style is:global>
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2rem;
        background: linear-gradient(0deg, rgba(0,0,0,0.03) 40%, rgba(0,0,0,1) 80%);
        height: 100px;
        z-index: 10;
        position: relative;
    }
    nav{
        display: flex;
        gap: 1.5rem;
        font-family: 'Comictastic';
    }
    a {
        color: var(--primary);
        text-decoration: none;
        transition: all 0.3s;
        font-weight: 700;
    }
    a:hover{
        color: var(--secondary);
    }
    .header__burger{
        width: 20px;
        cursor: pointer;
        display: none;
    }
    .header__burger svg{
        fill: var(--primary);
        transition: all 0.3s;
    }
    .header__burger svg:hover{
        fill: var(--secondary);
    }

    @media screen and (max-width: 480px) {
        header{
            justify-content: space-between;
        }
        .header__logo{
            padding: 0.5 1rem;
            max-width: 80px;
            height: auto;
        }
        .header__nav{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 100px;
            /* z-index: 10; */
            margin-left: -2rem;
            background: #000000d2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-blend-mode: multiply;
            margin-top: -100px;
            display: flex;
            transition: all 0.1s;
        }
        .active{
            visibility: visible !important;
        }
        .navbar{
            visibility: hidden;
            order: 1;
            flex-direction: column;
            transition: all 0.1s;
        }
        .header__burger{
            order: 0;
            display: block;
            position: absolute;
            top: 2rem;
            right: 2rem;
            visibility: visible !important;
        }
    }
</style>