---
import {Image} from 'astro:assets'
import logo from '../../../public/images/nax-snax-logo.png'
---

<header>
    <div>
        <Image src={logo} alt="Nax Snax" loading="lazy" width={140} />
    </div>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Papas</a>
        <a href="#">Nachos</a>
        <a href="#">Pipas</a>
        <a href="#">Otros</a>
    </nav>
</header>

<style>
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background: linear-gradient(0deg, rgba(0,0,0,0.03) 40%, rgba(0,0,0,1) 80%);
        height: 100px;
        z-index: 10;
        position: relative;
    }
    nav{
        display: flex;
        gap: 1.5rem;
    }
    a {
        color: var(--primary);
        text-decoration: none;
        transition: all 0.3s;
        font-weight: 700;
    }
    a:hover{
        color: var(--secondary);
    }
    .active{

    }
</style>