---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--primary: #f28310 ;
		--secondary: #f5e846;
		--darkColor: rgb(90, 90, 90)
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body{
		position: relative;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	.bg{
		background-position: center center;
		background-repeat: no-repeat;
		background-size:cover;
		position: relative;
		width: 100%;
	}
	.bg::before {
		content: '';
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 85%, rgba(0,0,0,1) 100%);
		background-blend-mode: multiply; 
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.bg--blue{
		background-image: url(../../public/images/background/9.jpg);
	}
	.bg--violet{
		background-image: url(../../public/images/background/1.jpg);
	}
	.bg--green{
		background-image: url(../../public/images/background/2.jpg);
	}
	.bg--darkgreen{
		background-image: url(../../public/images//background/8.jpg);
	}
	.bg--red{
		background-image: url(../../public/images/background/6.jpg);
	}
	.bg--orange{
		background-image: url(../../public/images/background/3.jpg);
	}
	.bg--yellow{
		background-image: url(../../public/images/background/7.jpg);
	}
	.bg--ocean{
		background-image: url(../../public/images/background/4.jpg);
	}

	.content{
        width: 1024px;
        margin: 0 auto;
    }

	.top__content{
		margin-top: -100px;
	}

	.nax__text__shadow{
		text-shadow: #d3221e 1px 1px 0, var(--primary) 3px 2px 0px;
	}
    @media screen and (max-width: 480px) {
		.content{
			width: 95%;
		}
        .papas__clasicas{
            flex-direction: column;
        }

        .papas__frases{
            order: 2;
        }
        .papas__imagen{
            order: 1;
        }
        .papas__imagen img{
            width: 300px;
            height: auto;
        }
    }
	.image1{
		animation: upsidedownOnTop 4s ease-in-out infinite;
	}
	.image2{
		animation: upsidedownOnTop2 4s ease-in-out infinite;
	}
	.image4{
		animation: upsidedownOnTop 4s ease-in-out infinite;
	}
	.image3{
		animation: upsidedownOnTop2 4s ease-in-out infinite;
	}
	.image5{
		animation: upsidedownOnTop2 4s ease-in-out infinite;
	} 

	@keyframes upsidedownOnTop {
		0%{transform: translate(-100px, -30%);}
		50%{transform: translate(-100px, 0%)}
		100%{transform: translate(-100px, -30%)}
	}
	@keyframes upsidedownOnTop2 {
		0%{transform: translate(-100px, 0%);}
		50%{transform: translate(-100px, 40%)}
		100%{transform: translate(-100px, 0%)}
	}

	@keyframes upsidedownOnTop2Mobile{
		0%{transform: translate(-50%, 0%);}
		50%{transform: translate(-50%, 40%)}
		100%{transform: translate(-50%, 0%)}
	}

	@keyframes productMove {
		0% {
			transform: translate(0, 0) rotate(0deg);
		}
		25% {
			transform: translate(1px, -20px) rotate(5deg);
		}
		50% {
			transform: translate(0, 0) rotate(0deg);
		}
		75% {
			transform: translate(-1px, -20px) rotate(-5deg);
		}
		100% {
			transform: translate(0, 0) rotate(0deg);
		}
	}

	@media screen and (max-width: 480px;) {
		.image1{
			animation: upsidedownOnTop2Mobile 4s ease-in-out infinite;
		}
	}
</style>
